<div class ="container">
  <div class="row">
    <!--　タイトル -->
    <div class="host-login aaa col-md-6 offset-md-3">
      <h2 class="login-text">会員の方はこちらからログイン</h2>
      <div class="login-icon">
        <!-- アイコン　-->
        <i class="fas fa-cookie-bite cookiea"></i>
        <i class="fas fa-cookie-bite cookieb"></i>
        <i class="fas fa-cookie-bite cookiec"></i>
      </div>

       <!--ログインフォーム -->
      <div class ="loginform">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <% flash.each do |message_type, message| %>
            <div class= "er">
                <%= message %>
            </div>
        <% end %>

        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'メールアドレス', size:50 %></br>

        <%= f.password_field :password, autocomplete: "current-password",placeholder: 'パスワード', size:50 %></br>

        <div class="sign-swich">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %>
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン",class:"btn btn-primary w-15" %>
          </div>
        </div>
        <% end %>

        <div class="sign-link">
          <p>登録がお済みでない方</p>
          <%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください
        </div>
      </div>
  </div>
</div>