<div class="container">
  <div class="row">
	<div class="col-md-9">
	  	<h2 class="mt-5 d-inline-block">配送先編集</h2>

		<%= form_for(@delivery, url: customers_delivery_path) do |f| %>

  		    <p><h4>郵便番号</h4><%= f.text_field :postal_code, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"郵便番号"%></p>
		    <p><h4>住所</h4><%= f.text_field :address, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"住所"%></p>
           	<p><h4>宛名</h4><%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"宛名"%></p>
           	<%= f.submit "編集する", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
  		<% end %>
	</div>
  </div>
</div>