<div class="container-fluid">
	<div class="background-color">
  <div class="row">
	<div class="col-md-12">
	  	<h2 class="mt-8 d-inline-block">配送先登録/一覧</h2>
  		<%= render "layouts/error_messages", resource: @delivery %>

		  	<%= form_for(@delivery, url: customers_deliveries_path) do |f| %>
			 <div class= container>

			  <div class="row form-group">
			  	<div class="col-sm-4 text-right"><%= f.label :郵便番号（ハイフンなし）%></h5></div>
			  	<div class="col-sm-6 mr-sm"><%= f.text_field :postal_code,class:"form-control" %></div>
			  </div>

			  <div class="row form-group">
				<div class="col-sm-4 text-right"><%= f.label :住所 %></div>
				<div class="col-sm-8 mr-sm"><%= f.text_field :address,class:"form-control" %></div>
			  </div>

			  <div class="row form-group">
			  	<div class="col-sm-4 text-right"><%= f.label :宛名 %></div>
				<div class="col-sm-6 mr-sm"><%= f.text_field :name,class:"form-control" %></div>
			  </div>

			  <div class="row form-group">
			  	<div class="col-12 text-center">
			  	<%= f.submit '新規登録する',class: "btn btn-success w-25" %></div></div>
			 <% end %> 
			</div>

			<div class="container">
			<table class="table table-bordered">
				<thead class="thead-light">
				  <tr>
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
					<th></th>
				  </tr>
				</thead>


				<% @deliveries.each do |delivery| %>

				<tbody>
				　<tr>
					<td class="align-middle"><%= delivery.postal_code %></td>
					<td class="align-middle"><%= delivery.address %></td>
					<td class="align-middle"><%= delivery.name %></td>
					<td class="form-group text-center align-middle"><%= link_to "編集する",edit_customers_delivery_path(delivery.id), class: "btn btn-primary m-3" %>
					<%= link_to "削除する", customers_delivery_path(delivery.id),class: "btn btn-danger m-3", method: :delete,"data-confirm" => "本当に削除しますか？" %></td>
				　</tr>
				</tbody>
				<% end %>

			</table>
		</div>

			<div class="pull-right"><%= link_to "前に戻る",customer_path(current_customer), class:"btn btn-info m-2 w-30" %></div>
	</div>
  </div>
</div>
