<div class="container">
    	<div class="row">
    		<div class="col-xs-2">
    	</div>
    <div class="col-xs-8">
      <h3 class="customer-title-show">
    	<strong>注文詳細
    	</strong>
      </h3>
     <table class="table table-bordered">
     	<tbody>
     		<tr>
     			<th scope="row">購入者</th>
     			<td>
     				<%= @order.customer.family_name %><%= @order.customer.last_name %>
     			</td>
            </tr>
            <tr>
                <th scope="row">配送先</th>
                <td>
                    〒<%=@order.postal_code %>
                    <%=@order.address %>
                    <%=@order.name%>
                </td>
            </tr>
            <tr>
                <th scope="row">支払い方法</th>
                <td>
                    <%= @order.payment %>
                </td>
            </tr>
            <tr>
                <th scope="row">注文ステータス</th>
                <td>
                        <%= form_with model: [:host, @order] do |f| %>
                          <%= f.select  :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
                          <% end %>
                          <%= f.submit "更新", class: "btn btn-primary"  %>
                        <% end %>
                </td>
            </tr>
        </tbody>
    </table>

     <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr class="info">
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
            <% @orders.order_items.each do |order| %>
            <tr>
                <td><%= order.item.name %></td>
                <td><%= order.item.sub_price.to_s(:delimited) %></td>
                <td><%= order.item.count　%></td>
                <td><%= (order.sub_price * order.item_count).to_s(:delimited) %></td>
                <td>
                    <%= form_with model: [:host, @order] do |f| %>
                    <%= f.select  :production_status, Order_item.production_statuses.keys.map {|k| [I18n.t("enums.order_item.production_status.#{k}"), k]} %>
                    <% end %>
                    <%= f.submit "更新", class: "btn btn-primary" %>
                </td>
            </tr>
            <% item_total_price += order.sub_price * order.item_count %>
            <% end %>
        </tbody>
    </table>
</div>

    <div class ="price-info col-xs-3">
        <div class="bottom">
            <strong class ="col-xs-7">商品合計</strong>
            <p class ="col-xs-5 text-rigth">
                <%= "#{item_total_price.to_s(:delimited)}円"　%>
            </p>
            <strong class ="col-xs-7">送料</strong>
            <p class ="col-xs-5 text-rigth">
                <%= "#{@order.postage.to_s(:delimited)}円"　%>
            </p>
            <strong class ="col-xs-7">請求金額合計</strong>
            <strong class ="col-xs-5 text-rigth">
                <%= @order.price.to_s(:delimited) %>円
            </strong>
        </div>
    </div>
</div>





