<div class ="container">
	<!-- 背景色的応用div -->
	<div class="background-color">
   	    <div class="row">
	    	<div class="col-xs-12">
	    		<!-- タイトル　-->
				<h2 class="head-line title_h2 text-center">管理者画面</h2>
				<div class ="today-order">
					<!-- 本日の注文数　-->
					<p class="order-count">本日の注文件数
						<span>
							<%= @orders.count %>件
						</span>
					</p>
	   			</div>
    		</div>
    		<!-- 本日の注文一覧表　-->
 			<div class="col-xs-12">
   				 <h2 class="head-line title_h2 text-center">本日の注文一覧</h2>
       			 <table class="table table-hover table-bordered table-condensed">
        			<thead>
		                <tr class="items-info">
		        		<th>購入日時</th>
		        		<th>購入者</th>
		        		<th>注文個数</th>
		        		<th>注文ステータス</th>
		                <th></th>
		                </tr>
		        	</thead>
		        	<tbody>
		        		<% @orders.each do |order| %>
		        		<tr>
		        			<td>
		        				<%= order.created_at.strftime('%Y/%m/%d/%R') %>
		        	        </td>
		        	        <td>
		        	        	<%=link_to "#{order.customer.family_name}#{order.customer.first_name}", host_customer_path(order.customer) %>
		        	        </td>
		        	        <td>
		        	        	<%= order.customer.cart_items.count %>
		        	        </td>
		        	        <td>
		        	        	<%= order.order_status_i18n %>
		        	        </td>
		                    <td>
		                        <%=link_to "注文詳細", host_order_path(order.id) %>
		                    </td>
		        	    </tr>
		        	    <% end %>
		        	    <!-- ページング機能　-->
		                <%= paginate @orders%>
		        	</tbody>
       			</table>
 			</div>
		</div>
	</div>
</div>