<div class="container">
  <div class="row">
    <h3 class="px-5 mt-5 bg-light">注文情報入力</h3>
  </div>
  <%# 支払い方法 %>
  <h4><strong>支払い方法</strong> <span class="badge badge-danger">必須</span></h4>
  <%= form_for(@order, url:customers_orders_path, method: :post) do |f| %>

   <div class="ml-5 form-check">
      <% if @order.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.radio_button :payment, :クレジットカード%>
      <%= f.label :クレジットカード %><br>
      <%= f.radio_button :payment, :銀行振り込み%>
      <%= f.label :銀行振込 %>
    </div>
    
    <%# お届け先 %>
    <h4><strong>お届け先</strong> <span class="badge badge-danger">必須</span></h4>
    <%# ご自身の住所 %>
      <div class="ml-5">
        <%= radio_button_tag :address, "my_address" %>
        <%= f.label "address_myaddress", "ご自身の住所"%>
        <p class="ml-5"><%=current_customer.postal_code + current_customer.address + current_customer.family_name + current_customer.first_name %></p>
     </div>
   <%# 登録済住所 %>
     <div class="ml-5">
       <%= radio_button_tag :address, "select_address" %>
       <%= f.label :登録住所から選択%><br>
       <div><%= f.collection_select :id, current_customer.deliveries.all, :id, :view_register_address, {},{class: 'form-control col-9'} %></div><br>
     </div>
   <%# 新しい住所 %>
      <div class="ml-5">
        <%= radio_button_tag :address, "new_address" %>
        <%= f.label :新しいお届け先 %>
      </div>
      <div class="ml-5">
        <div class="form-group row ml-3">
          郵便番号<%= f.text_field :postal_code, class: "form-control offset-1 col-9" %>
        </div>
        <div class="form-group row ml-3">
          住所　　<%= f.text_field :address, class: "form-control offset-1 col-9" %>
        </div>
        <div class="form-group row ml-3">
          宛先　　<%= f.text_field :name, class: "form-control offset-1 col-9" %>
        </div>
      </div>
        <%= f.submit "確認画面へ進む", class:"btn btn-primary ml-auto" %>
  <% end %>
</div>

