<div class="container">
  <div class="row">

	<div class="col-md-9">
      <h2 class="mt-5 d-inline-block">マイページ</h2>

      <h3>登録情報</h3>
      <%= link_to "編集する", edit_customer_path %>

      "パスワードを変更する"


      <div class="col-5 ml-3">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>氏名</td>
                    <td><p><%= @customer.family_name %><%= @customer.first_name %></p></td>
                    
                </tr>
                <tr>
                    <td>カナ</td>
                    <td><p><%= @customer.family_name_kana %><%= @customer.first_name_kana %></p></td>

                </tr>
                <tr>
                    <td>郵便番号</td>
                    <td><p><%= @customer.postal_code %></p></td>
                    
                </tr>
                <tr>
                    <td>住所</td>
                    <td><p><%= @customer.address %></p></td>

                </tr>
                <tr>
                    <td>電話番号</td>
                    <td><p><%= @customer.phone_number %></p></td>

                </tr>
                <tr>
                    <td>メールアドレス</td>
                    <td><p><%= @customer.email %></p></td>

                </tr>
            </tbody>
        </table>
    </div>




      <h3>配送先</h3>
      <%= link_to "一覧を見る", customer_deliveries_path(current_customer) %>
      <h3>注文履歴</h3>
      <%= link_to "一覧を見る", customer_orders_path(current_customer) %>

    </div>
  </div>
</div>


