<div class="container">
  <div class="row">

	<div class="col-md-9">
      <h2 class="mt-5 d-inline-block">マイページ</h2>

      <div class="container-fluid">
        <div class="row">
          <h4><strong>登録情報</strong></h4>
          <div class="col"><%= link_to "編集する", edit_customer_path,class: "btn btn-primary" %>
            <%= link_to "パスワードを変更する", edit_customer_password_path(current_customer),class: "btn btn-primary" %></div>
        </div>

      <div class="col-12 ml-3">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="table-active col-xs-2">氏名</td>
                    <td class="col-xs-8"><p><%= @customer.family_name %><%= @customer.first_name %></p></td>
                </tr>
                <tr>
                    <td class="table-active">カナ</td>
                    <td><p><%= @customer.family_name_kana %><%= @customer.first_name_kana %></p></td>
                </tr>
                <tr>
                    <td class="table-active">郵便番号</td>
                    <td><p><%= @customer.postal_code %></p></td>
                </tr>
                <tr>
                    <td class="table-active">住所</td>
                    <td><p><%= @customer.address %></p></td>
                </tr>
                <tr>
                    <td class="table-active">電話番号</td>
                    <td><p><%= @customer.phone_number %></p></td>
                </tr>
                <tr>
                    <td class="table-active">メールアドレス</td>
                    <td><p><%= @customer.email %></p></td>
                </tr>
            </tbody>
        </table>
    </div>



       <div class="row">
          <div class="col-sm-2"><h4><strong>配送先</strong></h4></div>
          <div class="col-sm-10 ml-sm-auto"><%= link_to "一覧を見る", customer_deliveries_path(current_customer.id),class: "btn btn-primary w-25" %></div>
       </div>
       <div class="row">
          <div class="col-sm-2"><h4><strong>注文履歴</strong></h4></div>
          <div class="col-sm-10 ml-sm-auto"><%= link_to "一覧を見る", customer_orders_path(current_customer.id),class: "btn btn-primary w-25" %></div>
       </div>
    </div>
      <h4>（仮）ログアウト</h4>
      <%= link_to "ログアウトする", homes_top_path %>

    </div>
  </div>
</div>


