<div class="container">
  <div class="row">

  <div class="col-md-12">
      <h2 class="mt-8 d-inline-block">パスワードを編集する<%#= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

      ****
        <div class="row">
          <div class="col-sm-4"><h4>郵便番号（ハイフンなし）</h4></div>
          <div class="col-sm-6 mr-sm"><%= f.text_field :postal_code %></div>
        </div>
      *****

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

      <div class= "row">
        <div class="col-sm-4">
        <%= f.label :メールアドレス %></div>
        <div class="col-sm-8 mr-sm">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      </div> 

      <div class= "row">
        <div class="col-sm-4">
        <%= f.label :新しいパスワード %></div>
        <div class="col-sm-8 mr-sm">
        <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %></div>
      </div> 

      <div class= "row">
        <div class="col-sm-4">
        <%= f.label :新しいパスワード（確認用） %></div>
        <div class="col-sm-8 mr-sm">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
      </div> 

      <div class= "row">
        <div class="col-sm-4">
        <%= f.label :現在のパスワード %></div>
        <div class="col-sm-8 mr-sm">
        <%= f.password_field :current_password, autocomplete: "current-password" %></div>
      </div> 

        <div class="actions">
          <%= f.submit "パスワードを更新する", class: "btn btn-success" %>
        </div>
          
          <%= link_to "戻る", :back, class: "btn btn-primary" %>
  <% end %>
  
  </div>
  </div>
</div>


<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
 -->

