<div class ="container">
  <div class ="row">
    <!--　タイトル　-->
    <div class ="host-login aaa  col-md-6 offset-md-3">
    　<h2 class="login-text">新規会員登録</h2>
      <div class="login-icon">
        <!-- アイコン　-->
      　<i class="fas fa-cookie-bite cookiea"></i>
    　　<i class="fas fa-cookie-bite cookieb"></i>
   　　 <i class="fas fa-cookie-bite cookiec"></i>
      </div>
      <!-- ログインフォーム -->
      <div class="loginform">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <!-- エラーメッセージ　-->
          <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.text_field :family_name, autocomplete: "family-name",placeholder: '名前(姓)' %>
            <%= f.text_field :first_name, autocomplete: "given-name",placeholder: '名前(名)' %></br>

            <%= f.text_field :family_name_kana, autocomplete: "family-name_kana",placeholder: 'フリガナ(セイ)'%>
            <%= f.text_field :first_name_kana, autocomplete: "given-name_kana",placeholder: 'フリガナ(メイ)' %></br>

            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: 'メールアドレス',size:43%></br>

            <%= f.text_field :postal_code, autocomplete: "postal-code",placeholder: '郵便番号(ハイフンなし)',size:43%></br>

            <%= f.text_field :address, autocomplete: "street-address",placeholder: '住所', size:43 %></br>

            <%= f.text_field :phone_number, autocomplete: "tel",placeholder: '電話番号(ハイフンなし)',size:43%></br>

            <%= f.password_field :password, autocomplete: "new-password" ,placeholder: 'パスワード(６文字以上)',size:43%></br>

            <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: 'パスワード(確認用)',size:43 %></br>

          　<div class="actions">
            <%= f.submit "新規登録",class:"btn btn-primary w-15" %>
          　</div>
        <% end %>
        <div class ="sign-linkb">
            <p>既に登録済みの方</p>
            <%= link_to 'こちら', new_session_path(resource_name)%>からログインしてください。
        </div>
      </div>

    </div>
  </div>
</div>