    <div class="container">
    	<div class="row">
    		<div class="col-xs-2">
    	</div>
    <div class="col-xs-8">
    	<h3 class="customer-title-show">
    	<strong><%= @customer.family_name%><%= @customer.first_name %>の会員詳細
    	</strong>
        </h3>
    <div class="edit">
	     <table class="table table-borderless">
	    	<tbody>
	    		<tr>
					<th scope="row">顧客ID</th>
	    			<td>
	    				<%=@customer.id %>
	    				<% if @customer.is_deleted ==true %>
								有効会員
								<% else %>
								退会済み
								<% end %>
					</td>
	    		</tr>
	    		<tr>
	    			<th scope="row">氏名</th>
	    			<td><%= @customer.family_name%><%= @customer.first_name %>
	    			</td>
	    		</tr>
	    		<tr>
	    			<th scope="row">フリガナ</th>
	    			<td><%= @customer.family_name_kana%><%= @customer.first_name_kana %>
	    			</td>
	    		</tr>
	    		<tr>
					<th scope="row">郵便番号</th>
	    			<td><%= @customer.postal_code %>
	    			</td>
	    		</tr>
	    		<tr>
	    			<th scope="row">住所</th>
	    			<td><%= @customer.address %>
	    			</td>
	    		</tr>
	    		<tr>
	    			<th scope="row">電話番号</th>
	    			<td><%= @customer.phone_number %>
	    			</td>
	    		</tr>
	    		<tr>
	    			<th scope="row">メールアドレス</th>
	    			<td><%= @customer.email%>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>
    <%= link_to "編集する",edit_host_customer_path(@customer),class: "btn btn-info"%>
    </div>

</div>
</div>
