<div class="container">
  <div class="background-color">
    <div class="row">
      <!-- ジャンル検索サイドバー / パーシャル表示 -->
      <%= render 'layouts/genre_serch', genres: @genres %>

      <div class="col-xs-9">
        <!-- 画像背景 -->
        <div class="bg_top">
          <!-- 白背景/サイト説明文 -->
          <div class="bg_top2">
            <p class="font-text">
              ようこそ、NaganoCakeへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
            </p>
          </div>
        </div>
        <!-- オススメ商品表示 -->
        <br>
        <h4 class="recommendation"> オススメ商品 </h4><br>
        <div class="row">
          <% @items.each do |item| %>
            <% if item.genre.is_active == true %>
            <div class="item-container">

            <%= link_to customers_item_path(item.id), class: "btn-link", :style=>"color:#0099FF;" do %>
            <div class="img_field">
            <%= attachment_image_tag(item, :image, size: "180x130") %>
            </div>
            <p class="item-name">
              <%= item.name %>
            </p>
            <% end %>

            <% if item.is_active == true %>
              <p class="item-name">¥<%= (item.non_tax_price * 1.1).floor %></p>
            <% elsif item.is_active == false %>
              <p class="soldout">売り切れ中</p>
            <% end %>
          </div>
          <% end %>
          <% end%>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-9"></div>
      <div class="col-xs-3">
        <p><%= link_to "もっと見る＞", customers_items_path %></p>
      </div>
</div>
</div>
