<div class ="container">
  <div class="row">
    <div class="host-login aaa col-md-6 offset-md-3">
      <!-- タイトル　-->
      <h2 class="login-text">管理者ログイン</h2>
      <div class ="loginform">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <% flash.each do |message_type, message| %>
             <div class= "er">
                  <%= message %>
              </div>
          <% end %>

          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'メールアドレス', size:50 %></br>

          <%= f.password_field :password, autocomplete: "current-password",placeholder: 'パスワード', size:50 %></br>

          <div class="actions">
            <%= f.submit "ログイン",class:"btn btn-primary w-15" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>