<div class ="container">
  <div class="row">
  <h3 class="login-title col-xs-offset-2">会員の方はこちらからログイン</h3>

  <div class ="login">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<table border="0" align="center" >
  <tr height="50">
    <th><%= f.label :メールアドレス %></th>
    <td>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </td>
  </tr>
  <tr height="50">
    <th><%= f.label :パスワード %></th>
    <td><%= f.password_field :password, autocomplete: "current-password" %>
    </td>
  </tr>
</table>
<h6>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %>
  <% end %>
</h6>
  <div class="actions">
    <%= f.submit "ログイン",class:"btn btn-primary w-15" %>
  </div>

<h2>登録がお済みでない方</h2>
<%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください。
