<header>

	<div class="header_flex">
	<nav>

		<% if host_signed_in? %>
			<%= link_to host_top_path do %>
			<h1 class="shop-title">NaganoCake</h1>
			<% end %>
		<% else %>
			<%= link_to root_path do %>
			<h1 class="shop-title">NaganoCake</h1>
			<% end %>
		<% end %>

	</nav>
	<nav>
		<ul class="navbar navbar-right">
			<!-- カスタマーがログインしている時 -->
			<% if customer_signed_in? %>
				<li class="customer-name">
					ようこそ、<%= current_customer.family_name + current_customer.first_name %> 様！
				</li>
				<li>
					<%= link_to "マイページ", customer_path(current_customer), class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "商品一覧", customers_items_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "カート", customers_cart_items_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-default" %>
				</li>
			<% elsif host_signed_in? %>
			<!-- 管理者がログインしている時 -->
				<li>
					<%= link_to "商品一覧", host_items_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "会員一覧", host_customers_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "注文履歴一覧", host_orders_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "ジャンル一覧", host_genres_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "ログアウト", destroy_host_session_path, method: :delete, class: "btn btn-default" %>
				</li>
				<li class="search-item">
				<%= search_form_for @search, url: host_items_path do |f| %>
    				<% f.label :name_cont %>
    				<%= f.search_field :name_cont %>
    				<%= f.submit "検索" %>
				<% end %>
			    </li>
			<% else %>
			<!-- ログインしてない時 -->
				<li>

					<%= link_to "About", homes_about_path, class: "btn btn-default" %>

				<li>
					<%= link_to "商品一覧", customers_items_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "新規登録", new_customer_registration_path, class: "btn btn-default" %>
				</li>
				<li>
					<%= link_to "ログイン", new_customer_session_path, class: "header_btn glyphicon glyphicon-log-in btn btn-default" %>
				</li>
			<% end %>
		</ul>
	</nav>

</header>